body {
  background: url(https://images.unsplash.com/photo-1552667466-07770ae110d0?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

*/ header {
  margin-top: 0;
  background: url("http://lorempixel.com/1200/500/nature");
  min-height: 500px;
  background-size: cover;
  display: table;
  width: 100vw;
}

header h1 {
  text-align: center;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  font-size: 3em;
  text-shadow: 2px 3px rgba(0, 0, 0, 0.75);
}

.background-bar {
  background: #fafaf9;
  height: 90px;
  -webkit-box-shadow: inset 0px 4px 12px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: inset 0px 4px 12px 0px rgba(50, 50, 50, 0.75);
  box-shadow: inset 0px 4px 12px 0px rgba(50, 50, 50, 0.75);
}

.main-body {
  border-radius: 15px;
  background: #fcfbfb;
  -webkit-box-shadow: 0px -4px 14px 0px rgba(50, 50, 50, 0.35);
  -moz-box-shadow: 0px -4px 14px 0px rgba(50, 50, 50, 0.35);
  box-shadow: 0px -4px 14px 0px rgba(50, 50, 50, 0.35);
}

.content-holder {
  margin-top: -140px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 2px;
}

.content-description {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background: rgb(252, 252, 252);
  height: 130px;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 12px 4px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 12px 4px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 12px 4px rgba(50, 50, 50, 0.75);
}

.author-social {
  position: absolute;
  margin-top: -35px;
}
.author-social-left {
  left: 0;
  width: 40%;
  text-align: right;
}
.author-social-right {
  right: 0;
  width: 40%;
}
.author-social img {
  background: #e8e8e8;
  border-radius: 50%;
  border: 2px solid #e8e8e8;
}

.author-avatar {
  text-align: center;
  margin-top: -70px;
}
.author-avatar img {
  width: 100px;
  border: 5px solid #e8e8e8;
  -webkit-box-shadow: 0px 0px 12px 4px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 12px 4px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 12px 4px rgba(50, 50, 50, 0.75);
}
.author-name {
  text-align: center;
}
.blog-info {
  text-align: center;
}

.content-body {
  background: rgb(252, 252, 252);
  min-height: 600px;
  padding: 40px 5px;
  font-size: 1.2em;
  color: #303030;
}

@media (max-width: 768px) {
  header {
    min-height: 300px;
  }
  .author-avatar {
    margin-top: -50px;
  }
  .author-avatar img {
    width: 75px;
  }
  .author-name h3 {
    font-size: 1.2em;
  }
  .author-social {
    margin-top: -25px;
  }
  .author-social img {
    width: 32px;
  }
}

/* calendar Css */
.row-striped:nth-of-type(odd) {
  background-color: #efefef;
  border-left: 4px #000000 solid;
}

.row-striped:nth-of-type(even) {
  background-color: #ffffff;
  border-left: 4px #efefef solid;
}

.row-striped {
  padding: 15px 0;
}
